.player {
    min-height: 100vh;
    width: 100%;
    .player__header {
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px 0 50px;
        background: linear-gradient(240deg, #5a20cb, #5925d2, #582ad8, #562edf, #5433e6, #5137ed);
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        h1 {
            color: #ffffff;
        }
        h4 {
            color: #ffffff;
            cursor: pointer;
        }
    }
}
