.playerC {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .playerC__timeControl {
        width: 80%;
        display: flex;
        input {
            width: 100%;
            padding: 1rem 0rem;
        }
        p {
            padding: 1rem;
        }
    }
    .PlayerC__playControl {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        svg {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 932px) {
    .playerC {
        flex: 1;
    }
}
